.narrow-padding {
  padding-left: 15%;
  padding-right: 15%;
}

.menu {
  transition: color 0.5s ease 0s, border-bottom-color 0.5s ease 0s;
  border-bottom: 5px solid;
  border-bottom-color: #00000000;
}

.menu.highlighted {
  background-color: var(--bs-blue) !important;
  color: white !important;
}

.menu.opened:not(.highlighted) {
  color: var(--bs-blue) !important;
  border-bottom-color: var(--bs-blue);
}

.sub-menu {
  display: flex;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}

.menu.opened + .sub-menu {
  display: flex;
  opacity: 1;
}

.sub-menu > a:hover,
.sub-menu > a.highlighted {
  background-color: hsl(216, 98%, 67%) !important;
}
